#
# sarta git ignore lists
#

# Directories (even if they don't currently exist)
test/
strow/
sergio/
sbuc/
chepplew/
motteler/
tangborn/
bin/

# Text figures and Docs
*.aux
*.toc
*.out
*.pdf
*.png
*.tiff
*.lis

# Libs, objects
*.a
*.o
*.so
*.mexa64
a.out

# Archives and packages
*.tar
*.tgz
*.zip
*.bz2

# Symbolic links
src/incFTC.f

