#
# sarta git ignore lists
#

# Directories (even if they don't currently exist)
lls_test/
strow/
sergio/
sbuc/
chepplew/
motteler/
tangborn/
bin/

# Text figures and Docs
*.aux
*.toc
*.out
*.pdf
*.png
*.tiff
*.lis

# Libs, objects
*.a
*.o
*.so
*.mexa64
a.out

# Archives and packages
*.tar
*.tgz
*.zip
*.bz2

# Fortran debug and diag files
*.mod
*.f90

# Symbolic links: should be recreated with each build
src/incFTC.f
incFTC.f

